<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="32010">
    <setting label="32011" type="bool"   id="isProxyEnabled" default="false"/>
    <setting label="32012" type="text"   id="proxyName" default=""  enable="!eq(-1,false)"  />
      
     <setting type="sep"/>
        <setting label="32014" type="labelenum" id="DefaultCDN" values="Default|l3|xdn|ak" default="Default"/>
     	 
     </category>
<category label="32015">
 <setting label="32020" type="bool"   id="playFirstChannel" default="false"/>
   <setting label="32021" type="lsep"/>
		<setting label="32022" type="labelenum" id="order1" values="Teledunet.com|livetv.tn|Shani|PC|Zombi|Local|iptvOsn|GLArab|magictvBox|Emad|FilmOn|Official" default="Teledunet.com"/>
		<setting label="32023" type="labelenum" id="order2" values="Teledunet.com|livetv.tn|Shani|PC|Zombi|Local|iptvOsn|GLArab|magictvBox|Emad|FilmOn|Official" default="livetv.tn"/>
		<setting label="32024" type="labelenum" id="order3" values="Teledunet.com|livetv.tn|Shani|PC|Zombi|Local|iptvOsn|GLArab|magictvBox|Emad|FilmOn|Official" default="Shani"/>
		<setting label="32025" type="labelenum" id="order4" values="Teledunet.com|livetv.tn|Shani|PC|Zombi|Local|iptvOsn|GLArab|magictvBox|Emad|FilmOn|Official" default="PC"/>
		<setting label="32026" type="labelenum" id="order5" values="Teledunet.com|livetv.tn|Shani|PC|Zombi|Local|iptvOsn|GLArab|magictvBox|Emad|FilmOn|Official" default="Zombi"/>
		<setting label="32030" type="labelenum" id="order6" values="Teledunet.com|livetv.tn|Shani|PC|Zombi|Local|iptvOsn|GLArab|magictvBox|Emad|FilmOn|Official" default="Local"/>
        <setting label="32052" type="labelenum" id="order7" values="Teledunet.com|livetv.tn|Shani|PC|Zombi|Local|iptvOsn|GLArab|magictvBox|Emad|FilmOn|Official" default="iptvOsn"/>
        <setting label="32054" type="labelenum" id="order8" values="Teledunet.com|livetv.tn|Shani|PC|Zombi|Local|iptvOsn|GLArab|magictvBox|Emad|FilmOn|Official" default="GLArab"/>
        <setting label="32056" type="labelenum" id="order9" values="Teledunet.com|livetv.tn|Shani|PC|Zombi|Local|iptvOsn|GLArab|magictvBox|Emad|FilmOn|Official" default="magictvBox"/>   
        <setting label="32059" type="labelenum" id="order10" values="Teledunet.com|livetv.tn|Shani|PC|Zombi|Local|iptvOsn|GLArab|magictvBox|Emad|FilmOn|Official" default="Emad"/>   
        <setting label="32061" type="labelenum" id="order11" values="Teledunet.com|livetv.tn|Shani|PC|Zombi|Local|iptvOsn|GLArab|magictvBox|Emad|FilmOn|Official" default="FilmOn"/>   
       <setting label="32064" type="labelenum" id="order12" values="Teledunet.com|livetv.tn|Shani|PC|Zombi|Local|iptvOsn|GLArab|magictvBox|Emad|FilmOn|Official" default="Official"/>   
        
     
	   </category>
	 <category label="32017">
		   <setting label="32041" type="lsep"/>
		<setting label="32018" type="text" id="liveTvLogin" values="" default=""/>
		<setting label="32019" type="text" id="liveTvPassword" values="" default=""/>  
		<setting label="32046" type="text" id="liveTvPremiumCode" values="" default=""/>  
		<setting label="32048" type="text" id="liveTvNonPremiumCode" values="" default=""/>  
		
		   <setting label="32045" type="lsep"/>
		<setting label="32039" type="text" id="teledunetTvLogin" values="" default=""/>
		<setting label="32040" type="text" id="teledunetTvPassword" values="" default=""/>  
		<setting label="32042" type="lsep"/>
			<setting label="32043" type="text" id="setting_iptvosnUser" values="" default=""/>
			<setting label="32044" type="text" id="setting_iptvosnPwd" values="" default=""/>  
		<setting type="sep"/>
		
		<setting type="bool" label="32047" id="clearLogonSettings"  default="false"/>
	  </category>
	  
	   <category label="32027">
		<setting label="32028" type="file" id="localyoutubexmlpath" source="files" values="" default=""/>
		<setting label="32029" type="file" id="localstreampath" source="files" values="" default=""/>  
	  </category>
	   <category label="32031">
          <setting label="32038" type="lsep"/>

		<setting label="32032" type="bool"   id="isTeledunetcomSourceDisabled" default="false"/>
        <setting label="32033" type="bool"   id="islivetvtnSourceDisabled" default="false"/>
        <setting label="32034" type="bool"   id="isShaniSourceDisabled" default="false"/>
        <setting label="32035" type="bool"   id="isPCSourceDisabled" default="false"/>
        <setting label="32036" type="bool"   id="isZombiSourceDisabled" default="false"/>
        <setting label="32037" type="bool"   id="isLocalSourceDisabled" default="false"/>        
		<setting label="32051" type="bool"   id="isiptvOsnSourceDisabled" default="false"/>        
		<setting label="32053" type="bool"   id="isGLArabSourceDisabled" default="false"/>  
	<setting label="32055" type="bool"   id="ismagictvBoxSourceDisabled" default="false"/>  
    <setting label="32060" type="bool"   id="isEmadSourceDisabled" default="false"/>  
      <setting label="32062" type="bool"   id="isFilmonSourceDisabled" default="false"/>  
      <setting label="32065" type="bool"   id="isOfficialSourceDisabled" default="false"/>  
        

	  </category>
		<category label="32049">
			<setting label="32050" type="number" id="usethisviewmode" values="" default=""/>
            <setting label="32057" type="number" id="teledunetRetryCount" values="" default="5"/>
	   <setting label="32063"  type="bool" id="filmonDontPlayplayHigh" default="False"/>
       	   <setting label="32066"  type="bool" id="playOneByOne" default="False"/>

					
     <!--  <setting label="32058" type="bool" id="addToFavMode" default="false"/>-->
		 </category>
</settings>
