<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="32010">
    <setting label="32011" type="bool"   id="isProxyEnabled" default="false"/>
    <setting label="32012" type="text"   id="proxyName" default=""  enable="!eq(-1,false)"  />
      
     <setting type="sep"/>
        <setting label="32014" type="labelenum" id="DefaultCDN" values="Default|l3|xdn|ak" default="Default"/>
     	 
     </category>
<category label="32015">
 <setting label="32020" type="bool"   id="playFirstChannel" default="false"/>
   <setting label="32021" type="lsep"/>
		<setting label="32022" type="labelenum" id="order1" values="Teledunet.com|livetv.tn|Shani|PC|Zombi|Local" default="Teledunet.com"/>
		<setting label="32023" type="labelenum" id="order2" values="Teledunet.com|livetv.tn|Shani|PC|Zombi|Local" default="livetv.tn"/>
		<setting label="32024" type="labelenum" id="order3" values="Teledunet.com|livetv.tn|Shani|PC|Zombi|Local" default="Shani"/>
		<setting label="32025" type="labelenum" id="order4" values="Teledunet.com|livetv.tn|Shani|PC|Zombi|Local" default="PC"/>
		<setting label="32026" type="labelenum" id="order5" values="Teledunet.com|livetv.tn|Shani|PC|Zombi|Local" default="Zombi"/>
		<setting label="32030" type="labelenum" id="order6" values="Teledunet.com|livetv.tn|Shani|PC|Zombi|Local" default="Local"/>
     
	   </category>
	 <category label="32017">
		   <setting label="32041" type="lsep"/>
		<setting label="32018" type="text" id="liveTvLogin" values="" default=""/>
		<setting label="32019" type="text" id="liveTvPassword" values="" default=""/>  
		   <setting label="32038" type="lsep"/>
		<setting label="32039" type="text" id="teledunetTvLogin" values="" default=""/>
		<setting label="32040" type="text" id="teledunetTvPassword" values="" default=""/>  
		
	  </category>
	  
	   <category label="32027">
		<setting label="32028" type="file" id="localyoutubexmlpath" source="files" values="" default=""/>
		<setting label="32029" type="file" id="localstreampath" source="files" values="" default=""/>  
	  </category>
	   <category label="32031">
          <setting label="32038" type="lsep"/>

		<setting label="32032" type="bool"   id="isTeledunetcomSourceDisabled" default="false"/>
        <setting label="32033" type="bool"   id="islivetvtnSourceDisabled" default="false"/>
        <setting label="32034" type="bool"   id="isShaniSourceDisabled" default="false"/>
        <setting label="32035" type="bool"   id="isPCSourceDisabled" default="false"/>
        <setting label="32036" type="bool"   id="isZombiSourceDisabled" default="false"/>
        <setting label="32037" type="bool"   id="isLocalSourceDisabled" default="false"/>        

	  </category>

	     
</settings>