<settings>
  <category label="Add Source">
    <setting id="choose_source" type="enum" values="Choose File|Enter URL" label="Choose Source Type" default=""/>
    <setting id="new_file_source" type="file" source="files" label="Choose File" default="" visible="eq(-1,0)"/>
    <setting id="new_url_source" type="text" label="Add URL" default="" visible="eq(-2,1)"/>
    <setting type="sep" />
    <setting type="action" label="Add Source" option="close" action="RunPlugin(plugin://plugin.video.arab.streams/?mode=7)" />
    <setting type="sep" />
  </category>
  <category label="Community Files">
    <setting id="community_list" type="bool" label="Enable Auto Update" default="false"/>
    <setting id="save_location" type="folder"  label="Select a location to save files." default=""/>
    <setting type="sep" />
    <setting type="action" label="Get / Update Community Files" action="RunPlugin(plugin://plugin.video.arab.streams/?mode=9)" />
    <setting type="sep" />
  </category>
  <category label="General">
    <setting id="use_thumb" type="bool" label="Use Thumbnails as Fanart" default="false" enable="eq(1,false)"/>
    <setting id="mirror_link" type="bool" label="Use lower quality mirror if available" default="false" enable="eq(1,false)"/>
    <setting id="mirror_link_low" type="bool" label="Use lowest quality mirror if available" default="false" enable="eq(-1,false)" />
  </category>
</settings>